<div class="sidebar">

    <div class="logo">

        <h2>Jannah<span>.dev</span></h2>

    </div>

    <div class="profile">

        <img src="images/jannah.jpeg" alt="Profile">

        <h3>Jannah Mustafa</h3>

        <p>MEAN Stack Developer</p>

    </div>


    <ul class="menu">

        <li routerLink="/dashboard/profile" routerLinkActive="active">
            Profile
        </li>

        <li routerLink="/dashboard/about" routerLinkActive="active">
            About

        </li>

        <li routerLink="/dashboard/skills" routerLinkActive="active">
            Skills

        </li>

        <li routerLink="/dashboard/projects" routerLinkActive="active">
            Projects

        </li>

        <li routerLink="/dashboard/contact" routerLinkActive="active">
            Contact

        </li>
    </ul>

</div>